<div class="container">
    <div class="page-top mb-5">
        <h1>新規商品登録</h1>        
        <%= link_to '一覧', management_items_path,class:"btn btn-secondary" %>        
    </div>
    <%= render 'form', item: @item %>
</div>    
    