<div class="title">
<h1>マイページ</h1>    
</div>

<p>Find me in app/views/gym_app/index.html.erb</p>
<p><%= @user_reservations%></p>

<ul>
    <li>商品一覧</li>
    <li>レッスン予約</li>
    <li>ポイント確認</li>
</ul>

