<div class="container">
    <h1>レッスン予約一覧</h1>
    <p><%= @reservation.lesson_id%></p>
    <div class="btn-margin">
        <%= link_to 'マイページ',gym_apps_path,class:"btn btn-primary"%>
    </div>    
</div>
