body{
    background-color:#FFCC00;
}

main{
  min-height: calc(100vh - 60px);
  overflow:hidden;
  padding-top: 106px;
}

header{
  height: 106px;
}

footer{
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  color: #fff;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color:#666666;
  text-align:center;
  font-size:40px;
  font-family:'Impact';
}

.bg-header {
   background-image:linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
   display:flex;
   position:relative;
}

.bg-header > h1{
  color:#fff;
  margin-left:4rem;
  font-family: 'Impact';
}

.header-btn{
  position:absolute;
  height:38px;
  right:2rem;
  bottom:0rem;
}

/*一覧表タイトル装飾*/
.page-top > h1{
    position:relative;
    padding-left:25px;
}
  
.page-top > h1:before{
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 15px rgb(220, 20,60);
}
    
.page-top > h1:after{
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 100%;
    border-bottom: solid 3px rgb(220, 20, 60);
}

/*運営側の一覧リンク*/
nav{
    width: 100%;
    background-color:#666666;
    z-index: 10;
}

nav a{
    display: inline-block;
    margin:0 auto;
    color: #fff;
    padding:2px  50px;
    font-size: 20px;
    border-right:1px solid #fff;
}

nav a:hover{
    text-decoration: none;
    color: #33bad2;
}

.management-header{
  padding:10px;
}
/*入力フォームレイアウト*/
label{
    padding:6px 0;
}
    
.form-group{
    display:flex;
    position:relative;
    margin-bottom:1.5rem;
}

.input-form{
    /*position:absolute;*/
    width:20rem;
    left:6rem;
}

.memo{
    width:35rem;
    height:6rem;
}

.management-image{
    margin:2rem 0;
}

.btn-margin{
    margin-top: 10px;
}

/*詳細画像情報*/
.content{
    display: flex
}
img{
    height:25rem;
    width:30rem;
}
 /*詳細画面*/
 .show-image{
    flex:1;
    margin-right: 4rem;
}

.description{
    flex:2;
    margin:2rem;
}

/*一覧画面*/
.page-top{
    display: flex;
    position: relative;
    
}

.page-top > .btn{
    position: absolute;
    height: 38px;
    right:0px;
    bottom: 0px;    
}


/*検索画面*/
.card-body{
    border:solid 2px #000000;
    margin-bottom: 2rem;
    padding:2rem;
    position: relative;
}

 .card-input{
   position: absolute;
   left: 15rem;
   width:30rem;
 }

/*ユーザ側ログイン画面*/
  .text-center{
    padding:2.5rem;
    max-width: 300px;
    width:30%;
    border:1px solid #000;
    border-radius:0.5rem;
    background-color:#c0c0c0;
    filter: drop-shadow(0 0 0.2rem gray);    
  }
  
 .text-center > h2{
    font-family:'Impact';
    font-size:3rem;
    margin-bottom: 3rem;
  }
  
  .user-form{
    width:100%;
    margin-bottom:1rem;
  }
  
  input:focus{
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
    border: solid 2px #666;
  }
  
  .field-text{
    margin:2rem 0;
  }
  
  
/*一覧表デザイン*/
  table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  text-align: center;
  /*border-left: 1px solid #a8b7c5;*/
  /*border-left: 1px solid #000;*/
  /*border-bottom: 1px solid #000;*/
  border-top:none;
  /*box-shadow: 0px -1px 1px 1px #000 inset;*/
  width: 25%;
  padding: 10px 0;
}

/*table td:last-child{*/
/*  border-right: 1px solid #a8b7c5;*/
/*}*/

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

/*詳細ボタン*/
.link-info{
  padding: 5px 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  font-size:1rem;
  /*border-bottom:2px solid #000;*/
  color:#000;
}

.link-info:hover{
  background-position: -100% 0;
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}

/*編集ボタン*/
.link-edit{
  padding: 5px 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #007bff 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  font-size:1rem;
  /*border-bottom:2px solid #000;*/
  color:#000;
}

.link-edit:hover{
  background-position: -100% 0;
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}
/*削除ボタン*/
.link-delete{
  padding: 5px 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(255, 0, 0) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  font-size:1rem;
  /*border-bottom:2px solid #000;*/
  color:#000;
}

.link-delete:hover{
  background-position: -100% 0;
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}


/*商品詳細*/
  .description > h1{
    font-size:2rem;
    border-bottom:1px solid #000;
    text-align:center;
  }
  
  .description > p{
    font-size:1rem;
  }
  
  
  .item-price{
    color:red;
    font-size:1.8rem;
    padding:0 1rem;
  }
  .item-stock{
    padding:0 1rem;
    
  }
  
  .item-description{
    font-size:0.8rem;
  }

/*ユーザ側予約ボタン*/
.btn-reservation{
  display: block;
  font-weight: bold;
  padding:0.25em 0.5em;
  color: #32CD32;
  transition:.4s;
  text-align: center;
  margin-top:2rem;
}

.btn-reservation:hover{
  text-decoration: none;  
  background-color:#32CD32;
  color:#000;
}

